body{
  background: -webkit-linear-gradient(left, #156299 , #1e2559);
}

#article_empty{
  display: none;
}

.article__container{
 margin-bottom: 30px;
 font-size: 20px;
 background-color: black;
}

.article__title{
 margin-bottom: 20px;
 font-size: 20px;
 color: purple;
 text-transform: capitalize;
}

.article__author{
 margin-bottom: 20px;
 font-size: 20px;
 color: green;
}

.article__content{
 margin-bottom: 20px;
 font-size: 20px;
 color: green;
}

.article__link{
 margin-bottom: 20px;
 font-size: 20px;
 color: purple;
}
